# cache files
__pycache__
caches

# output files
*.mp3
*.wav

# log files
dlyt.txt
runs

# the list is too long
configs/*.csv
lists/*
!lists/readme.md

# model files
*.pt

# database files
db/
fastdb
slowdb

# visualize
*.wav.png
*.mp3.png
